<input type="text" placeholder="输入因子"/><span>已选因子</span>
<div class="xgw_main container">
    <div class="row">
        <div class="col-sm-2  col-lg-10">
            <div *ngFor="let items of  items_info">
                <div class="row">
                    <div>
                        <a routerLink="gn" routerLinkActive="chosen_item">{{items.factor}}</a>
                    </div>
                </div>

            </div>



        </div>
        <div class="col-sm-10 col-lg-10">
            里面的右边
            <router-outlet>

            </router-outlet>
        </div>
    </div>
</div>